 .u-section-1 {
  background-image: url("images/2021-12-04_19.49.41.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1005px;
}

.u-section-1 .u-group-1 {
  width: 603px;
  min-height: 748px;
  margin: 83px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 7px 11px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 8px 34px 10px 32px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -42px 6px 0 auto;
  padding: 8px 28px 9px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px auto 0 98px;
  padding: 8px 26px 9px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -41px 122px 0 auto;
  padding: 8px 29px 10px 28px;
}

.u-section-1 .u-image-1 {
  width: 142px;
  height: 142px;
  margin: -20px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 9px auto 0 28px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 9px 111px 0 28px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-align: left;
  margin: 20px auto 0 28px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 9px auto 0 28px;
}

.u-section-1 .u-video-1 {
  width: 343px;
  height: 198px;
  margin: 13px auto 0 28px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  text-align: left;
  margin: 20px auto 0 28px;
}

.u-section-1 .u-text-6 {
  text-align: left;
  font-weight: 700;
  margin: 20px auto 0 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1033px;
  }

  .u-section-1 .u-group-1 {
    width: 556px;
    min-height: 753px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1107px;
  }

  .u-section-1 .u-group-1 {
    width: 514px;
    min-height: 767px;
    margin-top: 90px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 10px 0 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 11px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 17px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 109px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 133px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 39px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 122px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 39px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 39px;
  }

  .u-section-1 .u-video-1 {
    margin-left: 39px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 9px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 10px;
    margin-left: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 932px;
  }

  .u-section-1 .u-group-1 {
    min-height: 791px;
    margin-bottom: 51px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 107px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -43px;
    margin-right: 105px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -18px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 997px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 827px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 10px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 10px;
    margin-left: 10px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -41px;
    margin-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 128px;
    height: 128px;
    margin-top: -92px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 45px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-right: 35px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 8px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 8px;
    margin-left: 8px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 196px;
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 8px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 15px;
    margin-right: 28px;
    margin-left: 10px;
  }
}